.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.content-color {
	color: $content-color;
}

.btn-special-animation {
	position: relative;
	transition: background-color 0.3;
	overflow: hidden;
	z-index: 0;

	&::before {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.3s;
		z-index: -1;
	}

	&:hover::before {
		transform: scaleX(1);
		transform-origin: left;
	}
}

.section-przewodnik {
	margin-top: 40px;
	margin-bottom: 60px;
}

.section {
	&-about-us {
		position: relative;
		background-image: url('../img/About-us-back.png');
		background-position: center;
		background-size: cover;
		z-index: 0;
		height: 500px;
	}
	&--shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		z-index: -10;
	}
}
