@import './colors';
@import './components';

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}

.visibility {
	display: none;
}

// Nav

.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}

	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		height: 6px;
		border-radius: 4px;
		content: '';
		background-color: $pure-white;
		transition: width 0.3s;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 60%;
		}

		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background-color: $content-color;
	z-index: 100;

	&--active {
		transform: translateX(0);
	}

	&__item {
		position: relative;
		display: block;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		font-size: 2.8rem;
		color: $pure-white;
		text-decoration: none;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			transform: scaleY(0);
			background-color: $pure-white;
			transition: transform 0.3s;
			content: '';
		}

		&:hover::before {
			transform: scaleY(1);
		}
	}

	&__title {
		position: fixed;
		top: 20px;
		left: 10px;
		padding: 1em;
		border: 1px solid transparent;
		font-size: 2rem;
		font-weight: 700;
		z-index: 10;
		color: white;
		text-decoration: none;
		cursor: pointer;
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}

	to {
		transform: translateX(0);
	}
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

// HEADER

.header {
	position: relative;
	height: 100vh;
	background-image: url('../img/header-img.png');
	background-position: center;
	background-size: cover;
	z-index: 0;

	&--shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		z-index: -10;
	}

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		z-index: 5;
	}

	&__text {
		font-weight: 400;
		text-align: center;
		font-size: 2.6rem;
		color: white;
	}

	.film-text {
		font-size: 2rem;
		color: $pure-white;
	}

	&__btn {
		display: flex;
		align-items: center;
		padding: 0.8rem 1.6em;
		justify-content: center;
		width: 175px;
		height: 40px;
		border: 1px solid $pure-white;
		border-radius: 5px;
		margin-top: 40px;
		cursor: pointer;
		overflow: hidden;
		transition: color 0.3s;

		&::before {
			background-color: $light-grey;
		}

		&:hover {
			color: $dark-grey;
		}
	}
}

// MAIN

// Przewodnik

.section {
	&__content-text,
	&__content-imgs {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	&__title {
		font-weight: 500;
		font-size: 2rem;
		margin-left: -50px;
		margin: 20px 0;
		&--bold {
			font-weight: 700;
			color: $dark-content;
		}
	}
	&__select {
		width: 150px;
		height: 30px;
		border-radius: 1px solid black;
		background: none;
		font-size: 1.6rem;
		border-radius: 5px;
		margin-left: -200px;
		cursor: pointer;
		option {
			text-align: center;
			cursor: pointer;
		}
	}
	&__text {
		text-align: center;

		width: 235px;
		font-weight: 400;
		font-size: 1.4rem;
	}

	&__img,
	&__map {
		width: 310px;
		height: 205px;
	}

	&__img {
		margin: 30px 0;
	}

	&__map {
		border-radius: 10px;
	}
}

// About Us

.section-about-us {
	position: relative;
	margin-top: 100px;
	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		color: white;
	}
	a {
		text-decoration: none;
	}
}

.about-us {
	&__main {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 40%;
		&--bottom {
			display: flex;
			flex-direction: row-reverse;
		}
	}
	&__content {
		width: 320px;
		height: 280px;
		text-align: center;
	}
	&__title {
		position: relative;
		text-transform: uppercase;
		margin-left: -100%;
		margin-top: 10px;
		font-size: 3.2rem;
		letter-spacing: 2px;
		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 30px;
			height: 30px;
		}
		&::before {
			top: -2px;
			left: -8px;
			border-top: 3px solid #fff;
			border-left: 3px solid #fff;
		}
		&::after {
			bottom: -2px;
			right: -8px;
			border-bottom: 3px solid #fff;
			border-right: 3px solid #fff;
		}
	}
	&__icons {
		display: flex;
		align-items: center;
		margin: 40px 35% 30px 0;
		width: 210px;
		img {
			width: 40px;
			height: 40px;
			margin-right: 20px;
		}
		.fa-html5 {
			color: orange;
		}
		.fa-sass {
			color: rgb(247, 133, 152);
		}
		.fa-square-js {
			color: yellow;
		}
	}
	&__listToDo {
		position: absolute;
		top: 60px;
		right: 5px;
		width: 135px;
		ul {
			li {
				font-size: 1.4rem;
			}
		}
	}
	&__logo {
		position: absolute;
		right: 8px;
		bottom: 9px;
		font-size: 1.4rem;
		font-weight: 700;
		color: white;
	}
}

// MEDIA

@media (min-width: 576px) {
	.nav {
		&__title {
			top: 10px;
			font-size: 2.5rem;
		}
	}

	.header {
		&__text {
			font-size: 3.8rem;
		}
	}

	.section {
		&__select {
			width: 180px;
			height: 40px;
			font-size: 2rem;
			margin-left: -250px;
		}

		&__title {
			font-size: 2.5rem;
			margin-left: -100px;
		}

		&__text {
			font-size: 2rem;
			width: 400px;
		}
		&__img,
		&__map {
			width: 360px;
			height: 265px;
		}
	}
}

@media (min-width: 768px) {
	.header {
		background-attachment: fixed;
		&__text {
			font-size: 4.2rem;
		}
		&__btn {
			width: 200px;
			height: 50px;
			border-radius: 7px;
			p {
				font-size: 2.4rem;
			}
		}
	}
	.section {
		&__select {
			width: 200px;
			height: 50px;
			font-size: 2.4rem;
			margin-left: -350px;
		}

		&__title {
			font-size: 3rem;
			margin-left: -120px;
		}

		&__text {
			width: 400px;
		}
		&__img,
		&__map {
			width: 450px;
			height: 305px;
		}
	}
}

@media (min-width: 992px) {
	.nav {
		&__title {
			font-size: 3rem;
		}
	}
	.burger-btn {
		top: 30px;
		right: 30px;
	}

	.section {
		.wrapper {
			display: flex;
			justify-content: space-around;
		}

		&__content-text {
			width: 40%;
			margin-left: 30px;
		}

		&__content-imgs {
			width: 60%;
		}

		&__title {
			font-size: 3rem;
			margin-left: -50px;
			margin: 50px 0;
		}

		&__select {
			width: 300px;
			height: 50px;
			font-size: 1.6rem;
			margin-left: -70px;
		}
		&__text {
			width: 400px;
			font-size: 2.4rem;
		}

		&__img,
		&__map {
			width: 500px;
			height: 400px;
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		&__title {
			font-size: 3.6rem;
		}
	}
	.header {
		&__text {
			font-size: 4.8rem;
		}
	}
	.section {
		&__select {
			font-size: 2rem;
		}
	}
}
